*~
*lock*
*.spl
google-chrome/
.claude/
.aider.*
gh/
.wrangler/
lazygit/
scoop/
github-copilot
opencode/
btop/
topiary/
codex/auth.json
codex/version.json
codex/history.jsonl
codex/log
codex/sessions
codex/skills
codex/tmp
codex/auth.json
codex/.sandbox
codex/sandbox.log
codex/cap_sid
goose/

nushell/history*
nushell/completions/
