.agents/
AGENTS.md
CLAUDE.md
*~
*lock*
*.spl
google-chrome/
.claude/
.aider.*
gh/
.wrangler/
lazygit/
scoop/
github-copilot
opencode/
btop/
topiary/
codex/*
!codex/agents/
!codex/agents/**
!codex/skills/
codex/skills/.system/
goose/
carapace/
.github/
nushell/history*
nushell/completions/
