*~
*lock*
*.spl
google-chrome/
.claude/
.aider.*
gh/
.wrangler/
lazygit/
scoop/
github-copilot
opencode/
btop/
topiary/
codex/*
!codex/agents/
!codex/agents/**
!codex/hooks.json
!codex/hooks/
!codex/hooks/**
!codex/skills/
codex/skills/.system/
goose/
carapace/

nushell/history*
nushell/completions/
